
  <head>
    <meta charset="utf-8">
    <title>Password</title>

  </head>
  <body>
  <form >
    
      <p>ENTER THE DETAILS TO LOGIN</p>
   <!--   <div class="division">
        <label class="first">
          <input  type="password"  placeholder="&nbsp;" required>
          <span class="label">Password</span>
        </label>
        <input id="next" type="button" (click)="submitPassword()" name="Next" value="Next" class="nav-link" routerLink="/first" routerLinkActive="active">
       
      </div> -->
     
   
  </form>
  <div class="division">
  <form class="example-form" [formGroup]="workitemForm">
    <label class="first">
      <input name="userPassword" type="password" [(ngModel)]="userPassword" formControlName="userPassword" placeholder="&nbsp;" required>
      <span class="label">Password</span>
    </label>
    <button class="btn btn-primary" tabindex="0" (click)="workitemSubmit()"  type="submit" >Submit</button>
            
  </form>
  </div>
</body>
  

